.root {
    -fx-font-size: 9pt;
    -fx-background-color: #eee;
}

.button, .combo-box-base {
    -fx-background-color: #eee;
}

.button:hover, .combo-box-base:hover {
    -fx-background-color: #ddd;
}

.button:pressed, .combo-box-base:pressed {
    -fx-background-color: #ccc;
}

.button.active-tool {
    -fx-background-color: #7fbaf5;
}

.tool-bar,
.tab-pane .tab-header-background {
    -fx-background-color: #eee;
}

.document-side-panel {
    -fx-background-color: #fafafa;
}

.titled-pane {
    -fx-background-color: #fff;

    -fx-border-style: hidden;
    -fx-padding: 4px 0px 0px 0px;
}

.document-side-panel > .titled-pane {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-border-color: #d4d4d4;
    -fx-padding: 4px;
}

.titled-pane .title {
    -fx-background-color: transparent;

    -fx-font-weight: 700;
    -fx-text-transform: uppercase;

    -fx-border-style: hidden;
    -fx-padding: 0px;
}

.document-side-panel > .titled-pane .title {
    -fx-font-size: 10pt;
    -fx-font-weight: 600;
}

.titled-pane .content {
    -fx-background-color: transparent;

    -fx-border-color: transparent;
    -fx-padding: 0px;
}

.document-side-panel > .titled-pane .content {
    -fx-padding: 8px;
}

.no-editor-context {
    -fx-text-align: center;

    -fx-padding: 16px;
}

.split-pane .split-pane-divider {
    -fx-background-color: #d4d4d4;

    -fx-padding: 1px;
}

.tooltip{
    -fx-background-color: #fff;
    -fx-text-fill: #000;

    -fx-font-size: 9pt;

    -fx-border-color: #aaa;
}

.document-view .tool-bar {
    -fx-background-color: #fff;
}

.tab-pane .tab {
    -fx-background-color: #eee;

    -fx-padding: 4px 12px;
}

.tab-pane .tab:hover {
    -fx-background-color: #ddd;
}

.tab-pane .tab:selected {
    -fx-background-color: #fff;
}

.tab-pane .tab-header-area {
    -fx-border-color: transparent;
    -fx-border-style: hidden;
}

.tab-pane .tab-content-area {
    -fx-border-color: transparent;
    -fx-border-style: hidden;
}