.root {
    -fx-font-size: 9pt;
}

.button {
    -fx-background-color: #eee;
}

.button:hover {
    -fx-background-color: #ddd;
}

.button:pressed {
    -fx-background-color: #ccc;
}

.button.active-tool {
    -fx-background-color: #7fbaf5;
}

.tool-bar {
    -fx-background-color: #fff;
}

.document-side-panel {
    -fx-background-color: #fafafa;
}

.titled-pane {
    -fx-background-color: #fff;

    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-border-color: #d4d4d4;
}

.titled-pane .title {
    -fx-background-color: transparent;
}

.document-side-panel > .titled-pane .title {
    -fx-font-size: 10pt;
    -fx-font-weight: 600;
}

.titled-pane .titled-pane .title {
    -fx-text-fill: #aaa;

    -fx-font-weight: 700;
    -fx-text-transform: uppercase;

    -fx-border-style: hidden;
    -fx-padding: 0px;
}

.titled-pane .content {
    -fx-background-color: transparent;

    -fx-border-color: transparent;
    -fx-padding: 8px;
}

.titled-pane .titled-pane .content {
    -fx-padding: 0px 0px 4px 0px;
}

.no-editor-context {
    -fx-text-align: center;

    -fx-padding: 16px;
}

.split-pane .split-pane-divider {
    -fx-background-color: #d4d4d4;

    -fx-padding: 1px;
}

.tooltip {
    -fx-background-color: #fff;
    -fx-text-fill: #000;

    -fx-font-size: 9pt;

    -fx-border-color: #aaa;
}